BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120
UseTab: Never
TabWidth: 4
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
AccessModifierOffset: -4
NamespaceIndentation: All
FixNamespaceComments: false