[submodule "googletest"]
	path = googletest
	url = git@github.com:google/googletest.git
[submodule "src/cornerstone-octree"]
	path = src/cornerstone-octree
	url = https://github.com/sekelle/cornerstone-octree.git
